<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/assets/css/NZDropdown---Status.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div id="main-div">

        <%- include("includes/navbar.ejs")%>

        <div class="container" id="main-screen-cards">
            <h2 id="message" style="color: var(--blue);"><strong>My.AskMeAnything</strong></h2>
            <div class="card shadow" id="question-card" style="background: rgba(149,165,166,0.5);">
                <div class="card-body" id="question-card-body">
                    <div class="row">
                        <div class="col col-md-3"><span><img class="rounded-circle" src="https://eu.ui-avatars.com/api/<%=question.name %> <%=question.surname %>"></span>
                            <h5><%= question.name %> <%= question.surname %></h5>
                            <h6 class="text-muted mb-2"><%= question.dateCreated %></h6>
                        </div>
                        <div class="col d-lg-flex flex-column justify-content-lg-center align-items-lg-center col-md-8">
                            <h4><%= question.title %></h4>
                            <p><%= question.text %></p>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <label class="col-form-label" id="answers-counter" style="border-style: solid;border-color: rgb(113,119,125);"><%= answersCounter %></label>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:30px">
                <div class="card shadow" id="answer-question-card" style="background: rgba(149,165,166,0.5);">
                    <div class="card-body" id="question-card-body">
                        <h3>Leave an Answer</h3>
                        <div class="row">
                            <div class="col col-md-3">
                                <span>
                                    <img class="rounded-circle" src="https://eu.ui-avatars.com/api/<%=user.name %> <%=user.surname %>">
                                </span>
                                <h5><%=user.name %> <%=user.surname %></h5>
                                <h6 class="text-muted mb-2"><!-- here maybe add something--></h6>
                            </div>
                            <div class="col d-lg-flex flex-column justify-content-lg-center align-items-lg-center col-md-9">
                                <textarea id="answer-textarea" rows="8"></textarea>
                                <form method="POST" action=""></form>
                                <button class="btn btn-primary align-self-end" id="leave-answer-button" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="answers-div" style="margin-top:20px">
                <% answers.forEach((ans, index) => { %>
                <div class="card shadow" style="background: rgba(149,165,166,0.5); margin-top:10px;">
                    <div class="card-body" id="question-card-body">
                        <div class="row">
                            <div class="col col-md-3"><span><img class="rounded-circle" src="https://eu.ui-avatars.com/api/<%=ans['User.name'] %> <%=ans['User.surname'] %>"></span>
                                <h5><%=ans['User.name'] %> <%=ans['User.surname'] %></h5>
                                <h6 class="text-muted mb-2"><%= ans.dateCreated %></h6>
                            </div>
                            <div class="col d-lg-flex flex-column justify-content-lg-center align-items-lg-center col-md-9" id="answers-paragraph">
                                <p><%= ans.text %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>

    <%- include("includes/footer.ejs")%>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>