<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/assets/css/NZDropdown---Status.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div id="main-div">
        <div class="container-fluid" id="header-el">
            
            <%- include("includes/navbar.ejs")%>

        </div>
        <div class="container" id="main-screen-cards">
            <h2 id="message" style="color: var(--blue);">Welcome to AskMeAnything</h2>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 row-cols-lg-4 row-cols-xl-4">
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);">Questions per keyword</h4>
                            <canvas id="qsPerKWGraph" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col align-items-stretch">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body flex-shrink-1">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);">Questions per day<br></h4>
                            <canvas id="qsPerDay" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);">Ask a Question</h4>
                            <p class="card-text" id="text-card" style="font-size: 15px;color: var(--blue);">Got a question? <br>Feel free to ask!</p><button class="btn btn-primary" id="button-in-card" type="button" data-toggle="modal" data-target="#ask-question">Ask</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);">Browse Questions</h4>
                            <p class="card-text" id="text-card" style="font-size: 15px;color: var(--blue);">
                                Want to help others?<br>See what you can answer!
                            </p>
                            <form method="GET" action="/questions/show">
                                <button class="btn btn-primary" id="button-in-card" type="submit">Browse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <%- include("includes/askModal.ejs")%>

        </div>
    </div>

    <%- include("includes/footer.ejs")%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
    <script>
        var ctx = document.getElementById('qsPerKWGraph').getContext('2d');
        let topKeywords = '<%= topKeywords %>';
        let topKeywordsFreq = '<%= topKeywordsFreq %>';

        var qsPerKWGraph = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: topKeywords.split(','),
                datasets: [{
                    label: '# of Questions',
                    data: topKeywordsFreq.split(',').map(x => +x),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 205, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('qsPerDay').getContext('2d');
        let qsPerDayDates = '<%= qsPerDayDates %>';
        let qsPerDayFreq = '<%= qsPerDayFreq %>';

        var qsPerDay = new Chart(document.getElementById("qsPerDay"), {
            type: 'doughnut',
            data: {
            labels: qsPerDayDates.split(',').reverse(),
            datasets: [{
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#d9cd57","#c45850"],
                data: qsPerDayFreq.split(',').map(x => +x).reverse()
            }]
            },
            options: {
                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            padding: 4,
                        }
                    }
                }
            }
        });
    </script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>