<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/assets/css/NZDropdown---Status.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div id="main-div">
        <div class="container-fluid" id="header-el">
            <!-- <nav class="navbar navbar-light navbar-expand-md sticky-top bg-white" id="header-el">
                <div class="container-fluid"><a class="navbar-brand" href="#"><img src="/assets/img/logo1.1.png" width="200" height="50"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link active" href="#"><button class="btn btn-outline-primary" data-toggle="modal" data-target="#signin" type="button">Log In</button></a></li>
                            <li class="nav-item"><a class="nav-link active" href="#"><button class="btn btn-primary" data-toggle="modal" data-target="#signup" type="button">Sign Up</button></a></li>
                        </ul>
                    </div>
                </div>
            </nav> -->
            
            <%- include("includes/navbar.ejs")%>

            <%- include("includes/signupModal.ejs")%>

            <%- include("includes/signinModal.ejs")%>

        </div>
        <div class="container" id="main-screen-cards">
            <h2 id="message" style="color: var(--blue);"><strong>Welcome to AskMeAnything</strong></h2>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 row-cols-lg-4 row-cols-xl-4">
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);"><strong>Questions per keyword</strong></h4>
                            <p>Here goes the graph</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);"><strong>Questions per day/period</strong><br></h4>
                            <p>Here goes the graph<br></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);"><strong>Ask a Question</strong></h4>
                            <p class="card-text" id="text-card" style="font-size: 15px;color: var(--blue);">Got a question? <br>Feel free to ask!</p><button class="btn btn-primary" id="button-in-card" type="button">Ask</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;"><strong>Answer a Question</strong></h4>
                            <p class="card-text" id="text-card" style="font-size: 15px;color: var(--blue);">Want to help others?<br>Answer some questions!</p><button class="btn btn-primary" id="button-in-card" type="button">Answer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include("includes/footer.ejs")%>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>