<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/assets/css/NZDropdown---Status.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    <div id="main-div">
        <div class="container-fluid" id="header-el">
            <%- include("includes/navbar.ejs") %>
        </div>
        <div class="container" id="main-screen-cards" style="text-align: center;">
            <h2 id="message" style="color: var(--blue);">My.AskMeAnything
                <%= user.name %>
            </h2>
            
            <%- include("includes/cardMenu.ejs")%>

            <%- include("includes/askModal.ejs")%>

        </div>
    </div>

    <%- include("includes/footer.ejs")%>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <script>
            $(document).ready(function() {

                toastr.options = {
                    "closeButton": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false
                };
                /* In order to access variables sent to ejs file to script you must Parse them to string */
                /* then to parse them back to JSON */
                let messages = '<%- JSON.stringify(messages) %>';
                messages = JSON.parse(messages);

                messages.forEach(({
                    type,
                    value
                }) => {
                    switch (type) {
                        case 'error':
                            toastr.error(value)
                            break;
                        case 'success':
                            toastr.success(value)
                            break;
                        case 'warning':
                            toastr.warning(value)
                            break;
                        default:
                            toastr.info(value)
                            break;
                    }
                });

            })
        </script>

        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>